In [2]:
# Modules

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
%matplotlib inline

In [15]:
#Import UNHCR DATA

df=pd.read_csv("plane_crashes_data.csv")

In [12]:
from IPython.display import display, HTML

In [111]:
# possible display options with display module
print("Dataframe 1:")
display(df.head())
print("Dataframe 2:")
##display(HTML(df.head.to_html()))

Dataframe 1:

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
0,1,12,1950,"Near Vacas, Bolivia",Military - Bolivian Air Force,Valle grande - Cochabamba,Douglas C-47,32,32,Crashed while en route in the Andes mountains ...
1,3,20,1950,"Minneapolis, Minnesota",Northwest Orient Airlines,Rochester Minn. - Minneapolis,Martin 202,13,13,"Crashed into a flag pole, well marked by red n..."
2,3,14,1950,"Llandow Airport, Cardiff, Wales",Fairflight Ltd.,Llandow - Dublin,Avro 689 Tudor 5,83,80,During the approach to Runway 28 at Llandow Ai...
3,4,23,1950,"Near Atsugi, Japan",Military - U.S. Air Force,Philippines - Japan,Douglas C-54D,35,35,Flew off its prescribed course and crashed int...
4,5,20,1950,"Lagens Air Force Base, Azores",Military - U.S. Air Force,Bermuda - England,Boeing B-29,16,16,Crashed while attempting to land after being d...

Dataframe 2:

In [73]:
# Number of Plane Crashes by month between 1980 and 2009 inclusive

df.fatalities[(1980 <= df.year) & (2009 >= df.year)].mean()

24.932607215793055

In [105]:
# Crashes per Month

print(df.month.value_counts().sort_index())

print("The max is "+str(df.month.value_counts().sort_index().max()))

1     255
2     209
3     251
4     204
5     181
6     202
7     234
8     239
9     228
10    224
11    230
12    252
Name: month, dtype: int64
The max is 255

In [106]:
# Max number of fatalities in single incident

df.fatalities.max()

583

In [110]:
# Percentage of Fatalities of 1 or more

len(df.fatalities[df.fatalities>=1])/len(df.fatalities)

0.9819121447028424

In [118]:
# Average Percent of Passengers Killed per Accident

(df.fatalities/df.aboard).mean()

0.8231319223510563

In [4]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_ebola.csv')
df.head()

  Country  Month  Year   Lat  Lon  Value
0  Guinea      3    14  9.95 -9.7  122.0
1  Guinea      4    14  9.95 -9.7  224.0
2  Guinea      5    14  9.95 -9.7  291.0
3  Guinea      6    14  9.95 -9.7  413.0
4  Guinea      7    14  9.95 -9.7  460.0

In [12]:
import plotly.plotly as py
import plotly.tools as tools
import pandas as pd
tools.set_credentials_file(username='colea911', api_key='AbhiWkBmKs1yES1gXAlz')

In [13]:


df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

data = [ dict(
        type = 'choropleth',
        locations = df['CODE'],
        z = df['GDP (BILLIONS)'],
        text = df['COUNTRY'],
        colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '$',
            title = 'GDP<br>Billions US$'),
      ) ]

layout = dict(
    title = '2014 Global GDP<br>Source:\
            <a href="https://www.cia.gov/library/publications/the-world-factbook/fields/2195.html">\
            CIA World Factbook</a>',
    geo = dict(
        showframe = False,
        showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='d3-world-map' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~colea911/0 or inside your plot.ly account where it is named 'd3-world-map'